<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingService2010Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rosatomsql:80/ReportServer_SAM/ReportService2010.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap"
                contract="RS2010.ReportingService2010Soap" name="ReportingService2010Soap" />
        </client>
    </system.serviceModel>
</configuration>